<div class="jumbotron">
  <h1>Welcome to Lunch & Learn!</h1>
  <p>Lunch & Learn was a series of learning sections proposed and implemented by the EBS integration team at Cimpress MCP.
     Every three weeks, the team comes together to talk about technologies and programming practices in the goal of extending
    knowledge base.
  </p>
  <p>
    This application is created by Xiaoyu (Raymond) Lei [<a href="https://github.com/leixiaoyu">leixiaoyu</a>] to facilitate Lunch & Learn program.
    As an scientific project, this Lunch & Learn application also helps him to learn and practice NodeJs and AngularJs.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="login()">Login</a></p>
</div>
